:root {
  --to-y: 2;
  --grid-time: 1s;
  --grid-color-from: #9B3281;
  --to-color: #983780;
  --to-height: 2px;
}

.vapor__grid {

  position: relative;
  
  width: 100%;
  height: var(--grid-size);
}

.grid-degrade-top {
  position: absolute;
  bottom: var(--grid-size);
  height: 100%;
  width: 100%;
}

.grid-degrade-top .shape {
  height: 100%;
  width: 120vw;
}

.grid-degrade-bottom {
  height: 50%;
  width: 100%;
}

.vapor__grid .grid-lines {
  
  width: 100%;
  height: 100%;

  filter: 

  /* filter: blur(1px); */

  /* animation: blur-blink 7s ease-in-out infinite; */
}

.vapor__grid .grid-lines .base-line {
  
  fill: #e6a3ca;
  
  height: 4px;
  width: 100%;

  filter: url(#wave-filter);
}

.vapor__grid .grid-lines .lines-vertical {
  fill: #e0adcb;
  filter: url(#wave-filter);
}

.vapor__grid .grid-lines .lines-horizontal {
  filter: url(#wave-filter);
}

.vapor__grid .grid-lines .lines-horizontal .line{
  width: 100%;
  animation: fall var(--grid-time) linear infinite;
  x: "-0.5";
}

@keyframes fall-2 {
  to {
    opacity: 1;
    y: var(--to-y);
    fill: var(--to-color);
    height: var(--to-height);
  }
}

.vapor__grid .grid-lines .lines-horizontal .line-0 {
  --to-y: 26;
  --grid-color-from: #9B3281;
  --to-height: 2px;
  
  opacity: 0;
  fill: #983780;
  height: 2px;
  animation: fall-2 var(--grid-time) linear infinite;
}
.vapor__grid .grid-lines .lines-horizontal .line-1 {
  --to-y: 45;
  --to-color: #983780;
  --to-height: 1px;
  
  fill: #9B3281;
  height: 2px;
}
.vapor__grid .grid-lines .lines-horizontal .line-2 {
  --to-y: 65;
  --to-color: #913279;
  --to-height: 2px;
  
  fill: #983780;
  height: 1px;
}
.vapor__grid .grid-lines .lines-horizontal .line-3 {
  --to-y: 88;
  --to-color: #912476;
  --to-height: 2px;
  
  fill: #913279;
  height: 2px;
}
.vapor__grid .grid-lines .lines-horizontal .line-4 {
  --to-y: 114;
  --to-color: #9B2C80;
  --to-height: 1px;

  fill: #912476;
  height: 2px;
} 
.vapor__grid .grid-lines .lines-horizontal .line-5 {
  --to-y: 143;
  --to-color: #CB6DB4;
  --to-height: 2px;

  fill: #9B2C80;
  height: 1px;
}
.vapor__grid .grid-lines .lines-horizontal .line-6 {
  --to-y: 178;
  --to-color: #FFD7EF;
  --to-height: 1px;

  fill: #CB6DB4;
  height: 2px;
}
.vapor__grid .grid-lines .lines-horizontal .line-7 {
  --to-y: 217;
  --to-color: #FFDEF1;
  --to-height: 2px;

  fill: #FFD7EF;
  height: 1px;
}
.vapor__grid .grid-lines .lines-horizontal .line-8 {
  --to-y: 264;
}
.vapor__grid .grid-lines .lines-horizontal .line-9 {
  --to-y: 320;
}
.vapor__grid .grid-lines .lines-horizontal .line-10 {
  --to-y: 360;
}

.vapor__grid .grid-lines .lines-horizontal .line-8,
.vapor__grid .grid-lines .lines-horizontal .line-9,
.vapor__grid .grid-lines .lines-horizontal .line-10 {
  --to-color: #FFDEF1;
  --to-height: 2px;

  fill: #FFDEF1;
  height: 2px;
}