.vapor__grid {
  width: 100%;
  height: var(--grid-size);
}

.vapor__grid .grid-lines {
  width: 100%;
  height: 100%;
}

.vapor__grid .grid-lines .base-line {
  
  fill: #fff;
  
  height: 4px;
  width: 100%;
}

.vapor__grid .grid-lines .lines-vertical {
  fill: #fff;
}

.vapor__grid .grid-lines .lines-horizontal .line{
  width: 100%;
}