:root {
  --grid-size: 38vh;
}

@font-face {
  font-display: fallback;
  font-family: PressStart2P;
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
}

@font-face {
  font-display: fallback;
  font-family: Cutive;
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Cutive/Cutive-Regular.ttf') format('truetype');
}

body {
  background-color: #09013B;
  background-size: cover;
  font-family: Cutive;
  font-size: 24px;
} 

@keyframes blur-blink {
  0% {
    filter: blur(1px);
  }
  40% {
    filter: blur(3px);
  }

  50% {
    filter: blur(2px);
  }

  100% {
    filter: blur(1px);
  }
}

@keyframes fall {
  to {
    y: var(--to-y);
    fill: var(--to-color);
    height: var(--to-height);
  }
}